@font-face{
	font-family:russian;
	src: url(Metro-webfont.woff);
	}

#header{
	color: red;
	
	height:130px;
	background-color:lightgreen;
	border: 1px;
	top: 0;
	width:100%;
	position: fixed;
}

#footer
{
	position: fixed;
	bottom: 0;
	width:100%;
	color: red;
	height:100px;
	width:100%;
	border:0px solid black;
	background-color:lightgreen;
	font-family:russian;
}
#linkstable{
	width:250px;
	font-weight:bold;
				
		}
		
#tablediv{
	background-color:lightgreen;
}

h1{
	font-family:russian;
}

#spacing{
	height:150px;
}

h3{
	font-family:russian;
}

a:link{
	color: red;
}

a:visited{
	color:purple;
}

a:hover{
	font-style: bold;
}
a:active{
	text-decoration: none;
}
#menutable{
	padding-top:=0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}