@font-face{
	font-family:russian;
	src: url(Metro-webfont.woff);
	}

#header{
	color: red;
	
	height:145px;
	background-color:lightgreen;
	border: 1px;
	top: 0;
	width:100%;
	position: fixed;
}

#footer
{
	position: fixed;
	bottom: 0;
	width:100%;
	color: red;
	height:100px;
	width:100%;
	border:0px solid black;
	background-color:lightgreen;
	font-family:russian;
}
#linkstable{
	width:250px;
	
				
		}
		
#tablediv{
	background-color:lightgreen;
}

h1{
	font-family:russian;
}

#spacing{
	height:150px;
}

h3{
	font-family:russian;
}

a:link{
	color: red;
}

a:visited{
	color:purple;
}

a:hover{
	font-weight: bold;
	
}
a:active{
	text-decoration: none;
}
#menutable,{

	font-family:Sans-Serif;
}

.menutd{
	height:200px;
	width: 200px;
}

#drinks{
	width:550px;
	
	font-family:Sans-Serif;
	
	
}
tbody,td{
	height:35px;
}

#bev{
	font-family:russian;
}