
	body {
    background-color: lightblue;
	}

	@font-face{
		font-family:disco;
		src: url(spincycle_ot-webfont.woff);
	}
	
	.fontmod1{
		font-family:disco;
	}
	
	#cover{
		background-image: url("http://ec1.images-amazon.com/images/P/B000005RSV.01._SCLZZZZZZZ_.jpg");
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
		background-color: hotpink;
	}
	
	td{
		font-style: italic;
	}
	
	table{
		background-color: hotpink;
	}
	
	th{
		background-color: silver;
	}